@charset "UTF-8";

body { 
    background-color: black;
}
#cronometro {
    margin: auto;
    max-width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.numeros {
    max-width: 80px;
    height: 100px;
    font-size: 3em;
    text-align: center;
    color: gray;
    background-color: transparent;
    border-radius: 5px;
}


#cronometro > div > span {
    font-size: 1.5em;    
    color: gray;
    padding: 5px;
}

#cronometro > div {
    display: inline;
    text-align: center;
    max-width: 100%;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#btn {
    max-width: 150px;
    padding: 8px 45px;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-60%);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
}

#btn:hover {
    background-color: gray; 
    transition-duration: 0.6s;
}

#res {
    max-width: 150px;
    padding: 2px 8px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-54%);
}

#res > h1 {
    color: green;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width:700px) {

    .numeros {
        max-width: 65px;
        font-size: 1.5em;
    }

    #btn {
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translate(-50%);
    }

    h1{
        font-size: 2.5em;
    }

    #res {
        max-width: 150px;
        padding: 2px 8px;
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-54%);
    }
}

@media (max-width: 516px){

    #cronometro > div{
        max-width: 150px;
    }

    .numeros{
        max-width: 50px;
        font-size: 1em;
    }

    #btn {

        position: absolute;
        left: 50%;
        top: 75%;
        transform: translate(-50%);
    }

    h1 {
        font-size: 2.5em;
    }

    #res {
        max-width: 150px;
        padding: 2px 10px;
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-54%);
    }
}

@media (max-width:366px){

    #cronometro > div{
        max-width: 80px;
        text-align: justify;
    }

    #cronometro > div > h3 {
        font-size: 15px;
    }

    .numeros{
        height: 60px;
        max-width: 21px;
        font-size: 1.6em;
    }

    #btn{
        top: 75%;
    }

    #res {
        top: 85%;
    }

    #cronometro > div > span {
        font-size: 1.5em;    
        color: gray;
    }

}

/* SIII phone */
@media (max-width:366px) and (height:640px) {
    #cronometro > div{
        max-width: 80px;
        text-align: justify;
    }

    #cronometro > div > h3 {
        font-size: 15px;
    }

    .numeros{
        height: 60px;
        max-width: 21px;
        font-size: 1.6em;
    }

    #btn{
        top: 60%;
    }

    #res {
        top: 70%;
    }

    #cronometro > div > span {
        font-size: 1.5em;    
        color: gray;
    }
}


